<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hovic</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body class = "bg-stone-800">

    <header class="px-4 mx-8">
        <section class="py-8 px-4 mt-4 flex flex-col items-center">
            <p class="font-bold text-5xl w-auto py-2 text-purple-50 tracking-wide">Cek Tingkat Hoaks Berita Vaksin Covid-19</p>
            <p class="text-lg text-gray-300 py-4 w-3/5 text-center">Apakah berita yang kamu terima terdapat unsur hoaks di dalamnya? Hati-hati sebelum menyebar berita ke keluarga, teman, atau kolegamu</p>
        </section>
    </header>  

    <section class="border-b border-gray-600  ">
        <ul class="flex flex-wrap font-medium text-center gap-10 justify-center" id="navTab">
            <li>
                <button class="inline-block p-4 rounded-t-lg border-b-2 border-teal-400 text-teal-400" id="teks-tab" data-tabs-target="#teks" type="button" role="tab" aria-controls="profile" aria-selected="false">Input Teks</button>
            </li>
            <li>
                <button class="inline-block p-4 rounded-t-lg text-gray-300" id="teks-tab" data-tabs-target="#teks" type="button" role="tab" aria-controls="profile" aria-selected="false">Upload Dokumen</button>
            </li>
        </ul>
    </section>

</body>

</html>