<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hovic</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body class = "bg-slate-200">
    <header class="px-4">
        <section class="py-2 px-4 bg-slate-800 mt-4">
            <p class="font-medium w-auto text-slate-50">Klasifikasi Hoaks Vaksin Covid-19</p>
        </section>
    </header>  

</body>

</html>